#==================
# IGNORE EVERYTHING
#==================
*

#=============
# DEPENDENCIES
#=============
!package*.json

#=======
# SOURCE
#=======
!data
!src

!.babelrc
!tsconfig.json

#==============
# DOCUMENTATION
#==============
!.env.example
!README.md