{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "rangeStart": 0,
  "insertPragma": false,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "proseWrap": "preserve"
}
